 *{
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    };

    body{
        position: relative;
        height: 100%;
        font-family: 'Comfortaa', cursive;
        background-color:#ebebeb;
      }
      
      .titulo {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #ebebeb;
      }
      
      
       
      h1{
        text-align: center;
        font-family: 'Comfortaa', cursive
      }
      
      
      
      .productos {
        margin-top: 10px;
        margin-left: 7px;
        margin-right:  7px;
        position:relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ebebeb;
        font-family: 'Comfortaa', cursive;
      }
      
      .producto1 {
        position:relative;
        width: 300px;
        background-color: white;
        padding: 10px;
        margin-bottom: 10px;
       
      }
      
      .imagen-producto1 img {
        margin:auto;
        width:100%;
      }
      
      .p {
      text-align: center;
      }
      
      .titulo-producto{
        font-weight: bold;
      }
      .ver-mas {
        background-color: black;
        color:white;
        text-align: center;
        width: 200px;
        margin: 0 auto;
      }
      
      .ver-mas a p {
        color:white;
      }





    