*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }

body{
     background-color:  #ebebeb;;
    }
  
  .contenedor-principal{
      width: 100%;
  }

.titulo-productos{
     text-align: center;
     display: inline-block;
 } 

.titulo-compras h1{
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.productos{
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(245, 245, 240);
}

.producto1{
    background-color:white;
    width: 100%;
    overflow: hidden;
   margin-bottom: 10px;  

}


.titulo-productos h3{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-top: 10px;
}

.productos p{
    font-family: 'Comfortaa', cursive;
}

.descripcion-producto{
    border-bottom: 1px solid gray;
    text-align: center;
    display: inline-block;

}

.estado{
    display:inline-block;
}
.cantidad{
    display: inline-block;
}



.borrar{
    display: inline-block;
}



.comprar{
    display: inline-block;
}

i:hover{
    color: red;
    



}
/* VERSION ESCRITORIO*/

 @media (min-width: 1024px){
     .productos{
         overflow:"hidden";    
         }

     .imagen-producto{
         float:left;
         margin-left: 10px;
     }
     
     .descripcion-producto{
         display: inline-block;
         width: 55%;
         border: none;
     }

     p{
         display: inline-block;
         margin-right: 10%;
         font-family: 'Comfortaa', cursive;
     }

     .btn {
         margin-bottom:5px;
     }

    
 }
