*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}


body{
    background-color: #ebebeb;
    width: 100%;
}

h1{
    font-family: 'Solway', serif;   
}
.cargar-titulo{
    display: inline-block;
    margin-left: 5%;
    padding-top: 10px;
    text-decoration: underline; 
}
.form-productos{
    text-align: center;
    background-color: white;
    
    margin: 20px; 

}

.form-productos div{
    margin-bottom:20px; 
}

.descripcion{
    margin-bottom: 20px;
}
.titulo{
    padding-top: 10px;
}

label{
   font-family: 'Solway', serif;
   margin-right: 5px; 
}

.error{
    color:red;
    font-family: 'Solway', serif;
}

.botones{
    padding-bottom:  10px;
    
}
button{
    font-family: 'Solway', serif; 
    
}
