body{
  position: relative;
  height: 100%;
  font-family: 'Comfortaa', cursive;
  background-color:#ebebeb;
}

.titulo {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
}



 .buscar{
   width: 72%;
   margin-bottom: 18px;
   margin-top: -14px;
  margin-left: 46px;
  overflow: hidden;
  position: center;
}


.lupa{
  float: right;
  margin-top: 2px;
  margin-right: 23px;
}

h1{
  text-align: center;
  font-family: 'Comfortaa', cursive
}



.productos {
  margin-left: 7px;
  position:relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ebebeb;
  font-family: 'Comfortaa', cursive;
}

.producto1 {
  position:relative;
  width: 300px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.imagen-producto1 img {
  margin:auto;
  width:100%;
}

.p {
text-align: center;
}

.titulo-producto{
  font-weight: bold;
}
.ver-mas {
  background-color: black;
  color:white;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.ver-mas a p {
  color:white;
}

.producto2 {
  position:relative;
  width: 300px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.imagen-producto2 img {
  margin:auto;
  width:100%;
}

.titulo-Descripcion-Producto2 p {
text-align: center;
}

.paginador{
  display: inline;
}


@media (min-width: 768px){
    .productos {
      flex-direction: inherit;
    }

    .buscar{
    text-align: center;
     width: 90%;
     margin-bottom: 19px;
     margin-top: -1px;
     margin-left: 46px;
     overflow: hidden;
     position: center;
    }

    .lupa{
     float: right;
     margin-top: 2px;
     margin-right: 8px;
    }
}

@media (min-width: 1024px){

  .login-escritorio{
      float:right;
      margin-right: 30px;
      display: inline-block;
      padding-top: 6px;
  }


  .login-escritorio li{
      display: inline;
      font-size: 20px;
      padding-right: 20px;
  }
  .link{
      color: white;

  }

  .link a{
    color: white;
  }

  .buscar{
   width: 90%;
   margin-bottom: 19px;
   margin-top: -1px;
   margin-left: 46px;
   overflow: hidden;
   position: center;
 }

 .lupa{
   float: right;
   margin-top: 2px;
   margin-right: 60px;
 }

 .productos {
   margin-left: 39px;
   position:relative;
   text-align: center;
   display: flex;
   justify-content: space-around;
   background-color: #ebebeb;
   font-family: 'Comfortaa', cursive;
 }
}
