*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}



body {
    background-color: #ebebeb;
}

main{
  min-height:100vh;
}
div .formulario-ingreso {
    text-align: center;
    position: relative;
    position: center;
    padding: 10px;
    margin: 50px;
    font-family: 'Comfortaa', cursive;
    background-color: white;
}

#email{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
#password{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.formulario {
  padding: 10px;
}
button {
  text-align: center;
  position: relative;
  position: center;
  font-family: 'Comfortaa', cursive;
}

button:hover{
  color:#FFF;
  background-color: #040000;
}

.texto-nuevo{
margin-top: 15px;
}

.texto-nuevo a{
  text-decoration: underline;
  cursor: pointer;
}

input placeholder {
  text-align: center;

}

.error{
  color: red;
}

/* version de escritorio*/

@media (min-width: 1024px){

header{
  height: 50px;
}

.logo h3{
  font-size: 35px;
}
.hamburguesa{
  display: none;
}

.usuario{
  display: none;
}

.login-escritorio{
  margin-right: 30px;
  display: inline-block;
  padding-top: 6px;
  display: none;

}
.login-escritorio li{
  display: inline;
  font-size: 20px;
  padding-right: 20px;
}
.link{
  color: white;

}

.fas.fa-shopping-cart{
  margin-top: 10px;
  margin-right: 30px;
}

}
